.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.chat-container.dark {
  background-color: #333;
  color: #fff; /* Add this line to change text color in dark mode */
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}
.chat-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button {
  width: 100px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px; /* Add this line to give space between input and button */
}

.message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Add this line to make sure the messages take full width */
}

.message-item {
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Dark Mode Styles */
.dark .chat-input,
.dark .button,
.dark .message-item {
  background-color: #333;
  color: #fff;
  border-color: #fff;
}
